:root {
  --margin-constraints: 1.5rem;
}

html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0 !important;
}

.main {
  align-content: center;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  justify-content: center;
  margin-left: var(--margin-constraints);
  margin-right: var(--margin-constraints);
}

.trashcan img {
  transform: scale(0.8);
  transition-duration: 0.3s;
  width: 100%;
}

.trashcan img:hover {
  transform: scale(0.9);
}

.trashcan h1 {
  text-align: center;
}

.fondoImage:first-child img {
  min-height: 100%;
}

.backImage img {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.piePagina {
  background-color: #333;
  bottom: 0;
  color: #fff;
  font-size: x-large;
  position: fixed;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .bottom {
    align-items: start;
  }
}
