@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/utilities/api";

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

$margin-constraints: 1.5rem;
$trashcan-initial-scale: 0.8;

@mixin button($color, $background-color) {
  justify-items: center;

  h1 {
    align-self: center;
    color: $color;
    background-color: $background-color;
    border-radius: 1rem;
  }
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
    backdrop-filter: blur(0) brightness(100%);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(10px) brightness(50%);
  }
}

html,
body {
  font-family: "inter", sans-serif !important;
  height: 100%;
  max-width: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  @media screen and (max-width: 768px) {
    height: auto;
  }
}

#recycle-card {
  position: absolute;
  width: calc(100% - $margin-constraints * 2);
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 40%;
  min-height: 32rem;

  & > div {
    display: grid;
    align-items: center;
    justify-items: center;
    backdrop-filter: blur(10px) brightness(50%);
    animation: fadeInBackground 1s;
    /* animation-direction: reverse; */
    display: grid;
    height: 100%;
  }

  img {
    width: 95%;
    max-height: 90%;
  }

  h1 {
    color: $white;
    word-wrap: break-word;
  }
}

.container {
  min-width: 100%;
  align-items: center;

  .trashcan {
    svg {
      transition-duration: 300ms;
      transform: scale($trashcan-initial-scale);
    }

    svg:hover {
      transform: scale(calc($trashcan-initial-scale + 0.1));
    }
  }

  #case img {
    width: 30%;
  }

  #start {
    @include button($white, $primary);

    h1 {
      transition-duration: 200ms;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  #score {
    @include button($white, $secondary);
  }
}

.fondoImage:first-child img {
  min-height: 100%;
  user-select: none;
}

.backImage img {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
  user-select: none;
}

.piePagina {
  background-color: #333;
  bottom: 0;
  color: #fff;
  font-size: x-large;
  position: fixed;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .bottom {
    align-items: start;
  }

  #recycle-card h1 {
    font-size: 1.5rem;
  }
}
