@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

$margin-constraints: 1.5rem;
$trashcan-initial-scale: 0.6;

@keyframes fadeInBackground {
  from {
    opacity: 0;
    backdrop-filter: blur(0) brightness(100%);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(10px) brightness(50%);
  }
}

html,
body {
  font-family: "inter", sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0 !important;
}

#start {
  position: sticky;
  color: white;
  text-align: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: cornflowerblue;
  border-radius: 0.5rem;
  user-select: none;

  &:hover {
    transform: scale(1.05);
    transition-duration: 100ms;
  }
}

#recycle-card {
  position: absolute;
  display: grid;
  width: calc(100% - $margin-constraints * 2);
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 40%;
  min-height: 32rem;

  & > div {
    backdrop-filter: blur(10px) brightness(50%);
    animation: fadeInBackground 1s;
    /* animation-direction: reverse; */
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }

  h1 {
    color: white;
    text-align: center;
    align-self: center;
    word-wrap: break-word;
    padding: 1rem;
  }
}

.main {
  align-content: center;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  justify-content: center;
  margin-left: $margin-constraints;
  margin-right: $margin-constraints;
}

.trashcan {
  img {
    transform: scale($trashcan-initial-scale);
    transition-duration: 0.3s;
    width: 100%;
    user-select: none;
  }

  img:hover {
    transform: scale(calc($trashcan-initial-scale + 0.1));
  }

  h1 {
    text-align: center;
  }
}

.fondoImage:first-child img {
  min-height: 100%;
  user-select: none;
}

.backImage img {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
  user-select: none;
}

.piePagina {
  background-color: #333;
  bottom: 0;
  color: #fff;
  font-size: x-large;
  position: fixed;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .bottom {
    align-items: start;
  }

  #recycle-card h1 {
    font-size: 1.5rem;
  }
}
